<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoBlee"
        tools:targetApi="31">
        <activity
            android:name=".MessageActivity"
            android:exported="false" />

        <meta-data
            android:name="com.braintreepayments.api.tnvvzj5v3kzp5vvd"
            android:value="tnvvzj5v3kzp5vvd" />
        <meta-data
            android:name="com.braintreepayments.api.ykh7dx95bbsn9jbm"
            android:value="ykh7dx95bbsn9jbm" />
        <meta-data
            android:name="com.braintreepayments.api.d6dcf1f07b52879d6d0944e1e05e72ad"
            android:value="d6dcf1f07b52879d6d0944e1e05e72ad" />

        <activity
            android:name=".PublicationActivity"
            android:exported="false" />
        <activity
            android:name=".CommandeActivity"
            android:exported="false" />
        <activity
            android:name=".CharityActivity"
            android:exported="false" />
        <activity
            android:name=".ConsulterActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>